@tailwind base;
@tailwind components;
@tailwind utilities;

/* hinding scrollbar */

/* index.css mein ye add karo */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */